<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Ordering System</title>
</head>
<body style="background-color: white; color: black; text-align: center; padding-top: 100px;">
    <h1>Welcome to Car Ordering System</h1>
    <form action="/client">
        <button type="submit" style="padding: 20px; font-size: 20px;">Client</button>
    </form>
    <form action="/dealer">
        <button type="submit" style="padding: 20px; font-size: 20px;">Dealer</button>
    </form>
</body>
</html>
